.produto img{
   width: 70%;
   height: 90%;  
}
.produto{
  cursor: pointer;
  padding: 10px;
  display: flex;
  margin: 20px;
  
  flex-direction: column;
  width: 200px;
  min-height: 300px;
  margin-bottom: 10px;
  transition: 0.5s;
  border-radius: 8px;
}
.produto_top{
  display: flex;
  justify-content: center;
  height: 100%;
  
}

.produto:hover{
  box-shadow:rgb(172, 194, 236) 1px 1px 20px;
  transition: 0.5s;
}
.produtos{
  display: flex;
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
}
.telaDeVenda{
  display: flex;
  padding: 60px;
}
.telaDeVenda img{
  width: 50%;
  height: 50%;
  margin:0 50px;
}
button{
  cursor: pointer;
}
.botoes{
  display: flex;
  flex-direction: column;
}

.botoes button{
  width: 80%;
  margin: auto;
  
  margin-top: 15px;
}
form{
  width: 700px;
}
form button{
  width: 200px;
  margin: 5px;
}
form input{
  margin: 5px;
}
.formulario{
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}
.formulario_left{
  background-color: rgb(68, 68, 255);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.formulario_right{
  display: flex;
  justify-content: center;
  align-items: center;
}
.paginas{
  display: flex;
  justify-content: center;
  margin: 50px;
}
.paginas button{
  color: black;
  padding: 5px 10px;
  border: 0.2px solid grey;
  transition: 0.4s;
}
.paginas button:hover{
  background-color: cornflowerblue;
  
}
.btn_prev{
  border-radius: 7px 0px 0px 7px;
}
.btn_next{
  border-radius: 0px 7px 7px 0px;
}
.active{
  color: white;
  background-color: cornflowerblue;
}

@media (max-width:450px) {
  .telaDeVenda{
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
  }
  .telaDeVenda img{
    width: 90%;
    height: 90%;
    margin: 0;
  }
  form{
    width: 90%;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
  }
  form input{
    width: 90%;
  }
  .d-flex button,input{
     width: 100%;
  }
  .formulario{
    display: grid;
    grid-template-columns: 1fr;
  }
  .formulario_left{
    background-color: rgb(68, 68, 255);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
  }
  .formulario_right{
    padding: 0px;
  }
  .formulario_right button,input{
     width: 100%;
  }
  .produto{
    padding: 0;
  }
  .produto img{
    width: 100%;
    height: 80%;
  
 }
  .produtos{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
    
  }
  .paginas{
    margin: 70px;
  }
}